@model Student
<h1 class="alert alert-success text-center">Create Student</h1>



<div class="row">
    <form class="col-4" method="post" asp-controller="Students" asp-action="AddStudent" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Level"></label>
            <input type="text" asp-for="Level" class="form-control" />
            <span asp-validation-for="Level" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="ImagePath"></label>
            <input asp-for="ImagePath" type="file" name="imageFormFile" id="imageFormFile"
                   accept=".png,.jpg" class="form-control" onchange="SetImgSrc()" />
        </div>

        <button type="submit" class="btn btn-primary mt-2">Add</button>
    </form>
    <img src="" id="studImage" class="col-4 card" style="object-fit:contain" />
</div>
<a asp-controller="Students" asp-action="GetIndexView">Back to list</a>

@section Scripts{
    <script>
        function SetImgSrc() {
            document.getElementById("studImage").src = window.URL.createObjectURL
                (document.getElementById("imageFormFile").files[0]);
        }
    </script>
}
