@model Teacher
<h1 class="alert alert-success text-center">Edit Student</h1>

<div class="row">
    <form class="col-4" method="post" asp-controller="Teachers" asp-action="Edit" enctype="multipart/form-data">

        <input type="hidden" asp-for="Id" />
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Subject"></label>
            <input type="text" asp-for="Subject" class="form-control" />
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
         <div>
            <label asp-for="Description"></label>
            <input type="text" asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Email"></label>
            <input type="text" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        
          <div>
            <label asp-for="Phone"></label>
            <input type="text" asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
       


        <button type="submit" class="btn btn-primary mt-2">Edit</button>
    </form>
 

</div>

<a asp-controller="Teacher" asp-action="GetIndexView">Back to list</a>

