@model Course
<h1 class="alert alert-success text-center">Edit Student</h1>

<div class="row">
    <form class="col-4" method="post" asp-controller="Courses" asp-action="Edit" enctype="multipart/form-data">

        <input type="hidden" asp-for="Id" />
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label asp-for="CourseName"></label>
            <input type="text" asp-for="CourseName" class="form-control" />
            <span asp-validation-for="CourseName" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="TotalHours"></label>
            <input type="text" asp-for="TotalHours" class="form-control" />
            <span asp-validation-for="TotalHours" class="text-danger"></span>
        </div>
         <div>
            <label asp-for="StartCourse"></label>
            <input type="Date" asp-for="StartCourse" class="form-control" />
            <span asp-validation-for="StartCourse" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Cost"></label>
            <input type="text" asp-for="Cost" class="form-control" />
            <span asp-validation-for="Cost" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="TeacherId"></label>
            <input type="text" asp-for="TeacherId" class="form-control" />
            <span asp-validation-for="TeacherId" class="text-danger"></span>
        </div>
     



        <button type="submit" class="btn btn-primary mt-2">Edit</button>
    </form>

</div>

<a asp-controller="Course" asp-action="GetIndexView">Back to list</a>


@section Scripts{
    <script>
        function SetImgSrc() {
            document.getElementById("studImage").src = window.URL.createObjectURL
                (document.getElementById("imageFormFile").files[0]);
        }
    </script>
}
